# nuxt
NUXT_PUBLIC_GTAG_ID=
NUXT_PUBLIC_GOOGLE_ADSENSE_ID=
NUXT_RESEND_API_KEY=
NUXT_RESEND_FROM=
NUXT_SESSION_PASSWORD=
NUXT_OAUTH_GOOGLE_CLIENT_ID=
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=

# test
TEST_PASSWORD_MD5CRYPT=
TEST_PASSWORDHASH_MD5CRYPT=
TEST_PASSWORD_BCRYPT=
TEST_PASSWORDHASH_BCRYPT=
